<div class="d-flex flex-column">

    <div class="mt-4 mb-2">
        <h4>Add New Post</h4>
    </div>

    <div class="d-flex flex-column" [formGroup]="postForm">

        <div class="mt-3 d-flex flex-column">
            <label for="">Post Id</label>
            <input class=" col-sm-4" type="text" formControlName="id">
        </div>

        <div class="mt-3 d-flex flex-column">
            <label for="">Post Title</label>
            <input class="col-sm-4" type="text" formControlName="title">
        </div>

        <div class="mt-3 d-flex flex-column">
            <label for="">Author Name</label>
            <input class=" col-sm-4" type="text" formControlName="author">
        </div>

    </div>

    <div class="mt-4 d-flex" style="gap: 0 1rem;">
        <button class="btn btn-secondary" [routerLink]="'../'">
            Back to Posts
        </button>
        <button class="btn btn-primary" (click)="addPost()">
            Add New Post
        </button>
    </div>

</div>